<p id="notice"><%= notice %></p>

<h1>Filtrations</h1>
<<header>
  <%= render :partial => 'shared/search_box' %>
</header>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Descritpion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filtrations.each do |filtration| %>
      <tr>
        <td><%= filtration.name %></td>
        <td><%= filtration.descritpion %></td>
        <td><%= link_to 'Show', filtration %></td>
        <td><%= link_to 'Edit', edit_filtration_path(filtration) %></td>
        <td><%= link_to 'Destroy', filtration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filtration', new_filtration_path %>
